In [2]:
import pandas as pd
import gc
from sqlalchemy import create_engine
import numpy as np
import psycopg2.extras as extras
#import psycopg2




engine = create_engine('postgresql://postgres:123@localhost:5432/IMDB1')
conn=engine.connect()
connn=engine.connect()

In [ ]:
stmt="""
 CREATE TABLE title_basic(
        title_id       varchar(256) NOT NULL,
        titleType      varchar(256) NOT NULL,
        Name           varchar(500) NOT NULL,
        isAdult        boolean NULL,
        startYear      date NULL,
        endYear        date NULL,
        averageRating  numeric NULL,
        numVotes       int NULL,
        CONSTRAINT PK_61 PRIMARY KEY ( title_id )
);
    CREATE TABLE runtimeminutes(
        runtime_id   varchar(256),
        runtimeminutes varchar(256) NOT NULL,
        title_id varchar(256) NOT NULL,
        CONSTRAINT PK_72 PRIMARY KEY ( runtime_id ),
        CONSTRAINT FK_81 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);

    Drop table if exists genres;
    CREATE TABLE genres(
        genre_id   serial NOT NULL,
        genre_type varchar(256) NOT NULL,
        CONSTRAINT PK_75 PRIMARY KEY ( genre_id )
);

    drop table if exists title_genre;
    CREATE TABLE title_genre(
        title_genre_id serial NOT NULL,
        genre_id       serial NOT NULL,
        title_id       varchar(256) NOT NULL,
        CONSTRAINT PK_71 PRIMARY KEY ( title_genre_id ),
        CONSTRAINT FK_111 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id ),
        CONSTRAINT FK_80 FOREIGN KEY ( genre_id ) REFERENCES genres ( genre_id )
);

    CREATE TABLE tv_episode(
        "id"              varchar(256) NOT NULL,
        title_id        varchar(256) NOT NULL,
        parent_title_id varchar(256) NOT NULL,
        seasonNumber    int NOT NULL,
        episodeNumber   int NOT NULL,
        CONSTRAINT PK_158 PRIMARY KEY ( "id" ),
        CONSTRAINT FK_188 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);
    DROP TABLE IF EXISTS title_akas;
    CREATE TABLE title_akas(
        uid             serial NOT NULL,
        title_id        varchar(256) NOT NULL,
        title           text NULL,
        region          varchar(256) NULL,
        language        varchar(4000) NULL,
        "attributes"      varchar(4000) NULL,
        isOriginalTitle boolean NULL,
        CONSTRAINT PK_199 PRIMARY KEY ( uid ),
        CONSTRAINT FK_206 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);    
   DROP TABLE IF EXISTS type;
    CREATE TABLE type(
        type_id serial NOT NULL,
        type    varchar(256) NOT NULL,
        CONSTRAINT PK_216 PRIMARY KEY ( type_id )
);

    DROP TABLE IF EXISTS title_type;
    CREATE TABLE title_type(
        title_type_id serial NOT NULL,
        uid           serial NOT NULL,
        type_id       serial NOT NULL,
        CONSTRAINT PK_211 PRIMARY KEY ( title_type_id ),
        CONSTRAINT FK_218 FOREIGN KEY ( type_id ) REFERENCES type ( type_id ),
        CONSTRAINT FK_251 FOREIGN KEY ( uid ) REFERENCES title_akas ( uid )
);

    CREATE TABLE review(
        review_id varchar(256) NOT NULL,
        review    text NOT NULL,
        CONSTRAINT PK_263 PRIMARY KEY ( review_id )
);

    CREATE TABLE title_review(
        title_review_id varchar(256) NOT NULL,
        title_id        varchar(256) NOT NULL,
        review_id       varchar(256) NOT NULL,
        CONSTRAINT PK_257 PRIMARY KEY ( title_review_id ),
        CONSTRAINT FK_265 FOREIGN KEY ( review_id ) REFERENCES review ( review_id ),
        CONSTRAINT FK_268 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);  

    CREATE TABLE crew_basics(
        crew_id   varchar(256) NOT NULL,
        name      varchar(256) NOT NULL,
        birthYear date ,
        deathYear date ,
        CONSTRAINT PK_23 PRIMARY KEY ( crew_id )
);


    DROP TABLE IF EXISTS principals;
    CREATE TABLE principals(
        title_crew_id serial NOT NULL,
        title_id      varchar(256) NOT NULL,
        crew_id       varchar(256) NOT NULL,
        category      varchar(4000) NOT NULL,
        job           varchar(4000) NULL,
        CONSTRAINT PK_12 PRIMARY KEY ( title_crew_id ),
        CONSTRAINT FK_114 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id ),
        CONSTRAINT FK_44 FOREIGN KEY ( crew_id ) REFERENCES crew_basics ( crew_id )
);


    drop table if exists title_director;
    CREATE TABLE title_director(
        title_director_id serial NOT NULL,
        title_id          varchar(256) NULL,
        director_id       varchar(256) NULL,
        CONSTRAINT PK_130 PRIMARY KEY ( title_director_id ),
        CONSTRAINT FK_136 FOREIGN KEY ( director_id ) REFERENCES crew_basics ( crew_id ),
        CONSTRAINT FK_139 FOREIGN KEY ( title_id ) REFERENCES title_basic ( title_id )
);

    drop table if exists knownfor titles;
    CREATE TABLE knownForTitles(
        crew_title_id serial NOT NULL,
        crew_id       varchar(256) NOT NULL,
        title_id      varchar(256) NOT NULL,
        CONSTRAINT PK_49 PRIMARY KEY ( crew_title_id ),
        CONSTRAINT FK_151 FOREIGN KEY ( crew_id ) REFERENCES crew_basics ( crew_id )
);

    DROP TABLE IF EXISTS profession;
    CREATE TABLE profession (
        profession_id   serial NOT NULL,
        profession_type varchar(256) NOT NULL,
        CONSTRAINT PK_30 PRIMARY KEY ( profession_id )
);

    DROP TABLE IF EXISTS crew_profession;
    CREATE TABLE crew_profession(
        crew_profession_id serial NOT NULL,
        crew_id            varchar(256) NOT NULL,
        profession_id      serial NOT NULL,
        CONSTRAINT PK_119 PRIMARY KEY ( crew_profession_id ),
        CONSTRAINT FK_122 FOREIGN KEY ( crew_id ) REFERENCES crew_basics ( crew_id ),
        CONSTRAINT FK_125 FOREIGN KEY ( profession_id ) REFERENCES profession ( profession_id )
);
"""
cur.execute(stmt)
connn.commit()

In [5]:
chunksize = 10 ** 6

In [82]:
#insert data name.basic
with pd.read_csv("name.basics.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) as reader:
    for chunk in reader:
        name_basics=chunk   
        name_basics['birthYear']=name_basics['birthYear'].replace(r'\N',np.nan)
        name_basics['deathYear']=name_basics['deathYear'].replace(r'\N',np.nan)
        name_basics.to_sql("crew_basics_load",engine,if_exists="append",index=False)
        print("crew_basics_load inserted!")
        del name_basics
        gc.collect()

crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!
crew_basics_load inserted!

In [83]:
#create table crew_basics
sqlcmd='''
delete from crew_basics;
insert into crew_basics
select nconst, "primaryName", cast("birthYear"||'-01-01' as date), cast("deathYear"||'-01-01' as date) from crew_basics_load;
'''
connn.execute(sqlcmd)

In [9]:
#insert data crew
with pd.read_csv("title.crew.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) as reader:
    for chunk in reader:
        title_crew=chunk
        title_crew['directors']=title_crew['directors'].replace(r'\N',np.nan)
        title_crew['writers']=title_crew['writers'].replace(r'\N',np.nan)
        title_crew.to_sql("title_crew_load",engine,if_exists="append",index=False)
        print("title_crew_load inserted!")  
        del title_crew
        gc.collect()

title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!
title_crew_load inserted!

In [ ]:
#create table title_director
sqlcmd='''
delete from title_director; 
INSERT INTO public.title_director(title_id,director_id) 
SELECT tconst, directors 
FROM public.title_crew_load;;
'''
connn.execute(sqlcmd)

In [47]:
#none
#title_basic = pd.read_csv('title.basics.tsv', sep='\t')
#title_basic['startYear'] = title_basic['startYear'].replace(r'\N',"")
#title_basic['endYear'] = title_basic['endYear'].replace(r'\N',"")
#title_basic['runtimeMinutes'] = title_basic['runtimeMinutes'].replace(r'\N',np.nan)
#title_basic['endYear'].unique()
#ratings = pd.read_csv('title.ratings.tsv', sep='\t')
#title_basic = title_basic.merge(ratings, how='left', on='tconst')
#title_basic = title_basic[['tconst','titleType','primaryTitle','isAdult','startYear','endYear','runtimeMinutes',
 #                          'averageRating','numVotes']]
#dict = {'tconst': 'title_id',
  #      'titleType': 'titletype',
   #     'primaryTitle': 'name',
    #   'isAdult':'isadult',
     #  'startYear':'startyear',
      # 'endYear':'endyear',
       # 'runtimeMinutes':'runtimeminutes',
       #'averageRating':'averagerating',
        #'numVotes':'numvotes'}
        
#title_basic.rename(columns=dict,
 #         inplace=True)
#title_basic['isadult'] = title_basic['isadult'].astype('bool')
#title_basic['startyear'].astype('str')
#title_basic['endyear'].astype('str')
#title_basic['startyear'] = title_basic['startyear'].replace(r'', np.nan, regex=True)
#title_basic['endyear'] = title_basic['endyear'].replace(r'', np.nan, regex=True)
#title_basic['startyear'] = pd.to_datetime(title_basic['startyear'], format='%Y')
#title_basic['endyear'] = pd.to_datetime(title_basic['endyear'], format='%Y')
#title_basic['startyear'] = title_basic['startyear'].astype(object).where(title_basic['startyear'].notnull(), None)
#title_basic['endyear'] = title_basic['endyear'].astype(object).where(title_basic['endyear'].notnull(), None)
#runtimeMinutes = title_basic[['title_id','runtimeminutes']]
#title_basic = title_basic.drop('runtimeminutes', axis=1)
#title_basic['numvotes'] = title_basic['numvotes'].astype('Int64')
#title_basic['averagerating'] = title_basic['averagerating'].astype(object).where(title_basic['averagerating'].notnull(), None)
#title_basic['numvotes'] = title_basic['numvotes'].astype(object).where(title_basic['numvotes'].notnull(), None)
#def execute_values(conn, df, table):
  
 #   tuples = [tuple(x) for x in df.to_numpy()]
  
  #  cols = ','.join(list(df.columns))
    # SQL query to execute
   # query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols)
    #cursor = conn.cursor()
    #try:
     #   extras.execute_values(cursor, query, tuples)
      #  conn.commit()
    #except (Exception, psycopg2.DatabaseError) as error:
     #   print("Error: %s" % error)
      #  conn.rollback()
       # cursor.close()
        #return 1
    #print("the dataframe is inserted")
    #cursor.close()
  
  
#conn = psycopg2.connect(
 #   database="IMDB1", user='postgres', password='123', host='localhost', port='5432'
#)
    
#execute_values(conn, title_basic, 'title_basic')

the dataframe is inserted

In [3]:
#create table tv_episode
title_episode=pd.read_csv("title.episode.tsv",sep='\t',error_bad_lines=False)        
title_episode.rename(columns={"tconst":"title_id","parentTconst":"parent_title_id","seasonNumber":"seasonnumber","episodeNumber":"episodenumber"},inplace=True)
title_episode['seasonnumber']=title_episode['seasonnumber'].replace(r'\N',0)
title_episode['episodenumber']=title_episode['episodenumber'].replace(r'\N',0)
title_episode.drop_duplicates()
title_episode.insert(0,"id",range(1,1+len(title_episode)))
print(title_episode)
title_episode.to_sql("tv_episode",engine,if_exists="append",index=False)
print("tv_episode inserted!")  
del title_episode
gc.collect()

              id   title_id parent_title_id seasonnumber episodenumber
0              1  tt0020666      tt15180956            1             2
1              2  tt0020829      tt15180956            1             1
2              3  tt0021166      tt15180956            1             3
3              4  tt0021612      tt15180956            2             2
4              5  tt0021655      tt15180956            2             5
...          ...        ...             ...          ...           ...
6820982  6820983  tt9916846       tt1289683            3            18
6820983  6820984  tt9916848       tt1289683            3            17
6820984  6820985  tt9916850       tt1289683            3            19
6820985  6820986  tt9916852       tt1289683            3            20
6820986  6820987  tt9916880       tt0985991            4             2

[6820987 rows x 5 columns]
tv_episode inserted!

0

In [84]:
#insert data principals
with pd.read_csv("title.principals.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) as reader:
    for chunk in reader:
        title_principals=chunk
        title_principals['job']=title_principals['job'].replace(r'\N',np.nan)
        title_principals['characters']=title_principals['characters'].replace(r'\N',np.nan)
        title_principals.to_sql("title_principals_load",engine,if_exists="append",index=False)
        print("title_principals_load inserted!")
        del title_principals
        gc.collect()

title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!
title_principals_load inserted!

In [ ]:
#create table principals
sqlcmd='''
delete from principals;
insert into principals (title_id, crew_id, category, job) 
SELECT tconst, nconst, category, job 
FROM public.title_principals_load;
'''  
connn.execute(sqlcmd)

In [89]:
#insert data akas
with pd.read_csv("title.akas.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) as reader:
    for chunk in reader:
        title_akas=chunk
        title_akas['language']=title_akas['language'].replace(r'\N',np.nan)
        title_akas['types']=title_akas['types'].replace(r'\N',np.nan)
        title_akas['attributes']=title_akas['attributes'].replace(r'\N',np.nan)
        title_akas['isOriginalTitle']=title_akas['isOriginalTitle'].replace(r'\N',np.nan)
        title_akas.to_sql("title_akas_load",engine,if_exists="append",index=False)
        print("title_akas_load inserted!")
        del title_akas
        gc.collect()

title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!
title_akas_load inserted!

In [98]:
#create table title_akas
sqlcmd='''
delete from title_akas;
INSERT INTO title_akas (title_id, title, region, language, attributes, isoriginaltitle) 
SELECT "titleId", title, region, language, attributes 
,case when "isOriginalTitle"='0' then false when "isOriginalTitle"='1' then true else null end 
FROM public.title_akas_load;
'''
connn.execute(sqlcmd)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "title_akas" violates foreign key constraint "fk_206"
DETAIL:  Key (title_id)=(tt3881942) is not present in table "title_basic".

[SQL:
delete from title_akas;
INSERT INTO title_akas (title_id, title, region, language, attributes, isoriginaltitle)
SELECT "titleId", title, region, language, attributes
,case when "isOriginalTitle"='0' then false when "isOriginalTitle"='1' then true else null end
FROM public.title_akas_load;
]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [90]:
#insert data ratings
title_rating=pd.read_csv("title.ratings.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) 
print(title_rating)

<pandas.io.parsers.TextFileReader object at 0x7f83bfc266a0>

In [91]:
#create table profession
sqlcmd='''
DELETE FROM profession; 
insert into profession (profession_type) 
select distinct unnest(string_to_array("primaryProfession",',')) from public.crew_basics_load; 
'''
connn.execute(sqlcmd)

In [104]:
#insert data basics
with pd.read_csv("title.basics.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) as reader:
    for chunk in reader:
        title_basics=chunk
        title_basics['startYear']=title_basics['startYear'].replace(r'\N',np.nan)
        title_basics['endYear']=title_basics['endYear'].replace(r'\N',np.nan)
        title_basics['runtimeMinutes']=title_basics['runtimeMinutes'].replace(r'\N',np.nan)
        title_basics['isAdult']=title_basics['isAdult'].replace(r'\N',np.nan)
        title_basics.to_sql("title_basics_load",engine,if_exists="append",index=False)
        print("title_basics_load inserted!")
        del title_basics
        gc.collect()

title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!
title_basics_load inserted!

In [106]:
#insert data ratings
with pd.read_csv("title.ratings.tsv",sep='\t', chunksize=chunksize,error_bad_lines=False) as reader:
    for chunk in reader:
        title_ratings=chunk
        title_ratings.to_sql("title_ratings_load",engine,if_exists="append",index=False)
        print("title_ratings_load inserted!")
        del title_ratings
        gc.collect()

title_ratings_load inserted!
title_ratings_load inserted!

In [11]:
#create table title_basic
sqlcmd='''
INSERT INTO public.title_basic(
title_id, titletype, name, isadult, startyear, endyear, averagerating, numvotes) 
select distinct b.tconst,b."titleType",coalesce(b."primaryTitle",'') 
,CASE WHEN b."isAdult" = 1 THEN TRUE ELSE FALSE END  
,cast(b."startYear"||'-01-01' as date), 
cast(b."endYear"||'-01-01' as date), r."averageRating", r."numVotes" 
from title_basics_load b left join title_ratings_load r on b.tconst=r.tconst ; 
'''
connn.execute(sqlcmd)

KeyboardInterrupt:

In [ ]:
#create table type
sqlcmd='''
delete from type; 
insert into type (type) 
SELECT distinct  "types" FROM public.title_akas_LOAD WHERE types is not null; 
'''
connn.execute(sqlcmd)

In [ ]:
#create table title_type
sqlcmd='''
DELETE FROM title_type; 
INSERT INTO  public.title_type (uid,type_id) 
select ta.uid,t.type_id from public.type t inner join title_akas_LOAD tal 
on t.type=tal.types inner join title_akas ta on ta.title_id=tal."titleId"; 
'''
connn.execute(sqlcmd)

In [ ]:
#create table genre
sqlcmd='''
delete from genres;
insert into genres (genre_type)
SELECT distinct  "genres" FROM public.title_basics_LOAD WHERE genres is not null; 
'''
connn.execute(sqlcmd)

In [ ]:
#create table title_genre
sqlcmd='''
DELETE FROM title_genre;
INSERT INTO  public.title_genre (genre_id,title_id)
select g.genre_id,tb.title_id from public.genres g inner join title_basics_LOAD tbl
on g.genre_type=tbl.genres inner join title_basic tb on tb.title_id=tbl."tconst";
'''
connn.execute(sqlcmd)

In [ ]:
#create table crew_profession
sqlcmd='''
DELETE FROM crew_profession; 
INSERT INTO  public.crew_profession(crew_id,profession_id) 
select cb.crew_id,p.profession_id from public.profession p inner join crew_basics_LOAD cbl 
on p.profession_type=cbl.primaryProfession inner join crew_basics cb on cb.crew_id=cbl."nconst" ; 
'''
connn.execute(sqlcmd)

In [ ]:
#create table knownfortitles
sqlcmd='''
DELETE FROM knownfortitles; 
INSERT INTO  public.knownfortitles (crew_id,title_id) 
select cb.crew_id,cbl.knownForTitles 
from public.crew_basics as  cb  
inner join crew_basics_LOAD  as cbl on cb.crew_id=cbl."nconst"; 
'''
connn.execute(sqlcmd)